* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-chat {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.plus {
    font-size: 24px;
    margin-right: 8px;
}

.new-chat-text {
    font-size: 16px;
}


.logo span {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.chat-container {
    background-color: #fff;
    width: 1000px;
    max-width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 100px;
}

.chat-box {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.welcome-message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 20px 0;
    flex-grow: 1;
}

.input-box {
    display: flex;
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    padding: 12px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 50px;
}
